<div class="bg">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7">
      <div class="landing-h1">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1>PairBnb</h1>
    <p>PairBnB makes it possible for programmers to network, learn from, teach and host like-minded individuals.</p>
  </div>
  </div>
</div>

</div>




<div id="landing-page"></div>
<div class="row">
  <div class="col-xs-2 col-md-4 vcenter"></div>
  <div class="col-xs-8 col-md-4 vcenter">
    <%= form_tag residences_search_path, :method => 'get' do %>
    <div class="form-group">
      <div class="col-md-10 ">
      <div class="field form-group">
        <%= text_field_tag :search, params[:search], placeholder: "I'm going to...", class: 'form-control' %>
      </div>

        <%= submit_tag "Search", :city => nil, class: 'btn btn-danger' %>
        <% end %>
    </div>
  </div>
</div>


<%if session[:user_id] == nil %>
  <div class="row">
    <div class="col-xs-2 col-md-4"></div>
    <div class="col-xs-8 col-md-4">
  <%= link_to 'Login', "#", id: "loginbar" %>
  <%= link_to 'Sign Up', new_user_path %>
<div id="login-landing">
    <%= form_for :session, url: sessions_path do |f| %>
      <% if @error_message %>
        <p><%= @error_message %></p>
      <% end %>
      <div class="form-group">
          <div class="field form-group">
            <%= f.text_field :email, placeholder: "email", class: 'form-control' %>
          </div>
        </div>
            <div class="form-group">
            <%= f.password_field :password, placeholder: "password", class: "form-control" %><br>
          </div>

          <%= f.submit 'Login', class: 'btn btn-primary' %>
        </div>
      <% end %>

  </div>
<%end%>
</div>
