<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    add_place_link = $("a:contains('Add your place')");
    add_place_link.on('click', function(event){
      event.preventDefault();
      $('#add_place').css('display', 'block')
    });

    all_reply_form_links = $("a:contains('Send')");
    all_reply_form_links.on('click', function(event){
      event.preventDefault();
      var href = event.currentTarget;
      var reply_form = $(href).next();
      reply_form.toggle();
    });

    var residence = 0;

    $(".displays").hide();
    $("#user_availabilities").show();

    $("#req").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_requests").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#mess").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_messages").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#res").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_residences").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#avail").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_availabilities").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#info").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_information").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });

    $("#add").click(function(event) {
      event.preventDefault();
      available = "add"
    });

    $("#remove").click(function(event) {
      event.preventDefault();
      available = "remove"
    });

    $(".residence").click(function(event) {
      event.preventDefault();
      residence = $(this).attr("id") - 1;
      $("td").css("background-color", "white")
    });

    $(".accept_pair").submit(function() {
      $(this).parent().hide();
    });

    $("#info_close").click(function(event) {
      event.preventDefault();
      $("#info_div").hide()
    })

    YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

      // Create a new instance of calendar, placing it in
      // #mycalendar container, setting its width to 340px,
      // the flags for showing previous and next month's
      // dates in available empty cells to true, and setting
      // the date to today's date.
      var calendar = new Y.Calendar({
        contentBox: "#mycalendar",
        width:'340px',
        showPrevMonth: false,
        showNextMonth: false,
        date: new Date()}).render();

      // Get a reference to Y.DataType.Date
      var dtdate = Y.DataType.Date;

      $.each($("#available p"), function(index, element) {
        availableDay = $(element).attr("id")
        availableDay = "_" + +availableDay;
        $("td[id$='" + availableDay + "']:not(.yui3-calendar-column-hidden)").addClass("available").css("background-color", "#14A714")
      });

      $.each($("#booked p"), function(index, element) {
        bookedDay = $(element).attr("id")
        bookedDay = "_" + +bookedDay;
        $("td[id$='" + bookedDay + "']:not(.yui3-calendar-column-hidden)").addClass("booked").css("background-color", "#C9302C")
      })


      function currentUserId() {
        var logout_href = $("a:contains('Logout')").attr("href");
        var start_of_userid_on_logout_href = logout_href.lastIndexOf("/")+1;
        var user_id = logout_href.slice(start_of_userid_on_logout_href);
        return user_id;
      }

      // Listen to calendar's selectionChange event.
      calendar.on("selectionChange", function (ev) {
        ev.preventDefault();

        $(".yui3-calendarnav-nextmonth").click(function(event) {
          $("td").css("background-color", "white")
        });

        $(".yui3-calendarnav-prevmonth").click(function(event) {
          $("td").css("background-color", "white")
        });

        var newDate = ev.newSelection[0];
        var date = dtdate.format(newDate);
        var day = date.slice(-2);
        var day_id = "#" + day;
        var day_selector = +day; // convert possible leading-zero, single-digit to integer (+"01" = 1)

        var selected_day_node = $("td[id$='_" + day_selector + "']:not(.yui3-calendar-column-hidden):not(.booked)");
        $.each(selected_day_node, function(index, node){
          var user_id = currentUserId();
          node = $(node);
          if (node.hasClass("available")) {
            node.removeClass("available").css("background-color", "white");
            var request = $.ajax({
              url: "/users/" + user_id + "/availabilities/" + $(day_id).text(),
              type: "DELETE"
            });
          } else {
            node.addClass("available").css("background-color", "#14A714");
            var request = $.ajax({
              url: "/users/" + user_id + "/availabilities",
              type: "POST",
              data: { date: date}
            });
            request.done(function(response) {
              if (response["id"]) {
                $("#available").append("<p id= " + response['day'] + " class='id_for_me'>" + response['id'] + "</p>");
              }
            });
          }
        });
      });
    });
  });
</script>
<div class='dashboard'>
  <div class="row">
    <div class="col-s-7 col-md-4"></div>
      <div class="col-s-9 col-md-4">
        <h1>Dashboard</h1>
          <ul class="nav nav-pills">
            <li role ="presentation" id="mess"><a href="/">Messages</a></li>
            <li role ="presentation" id="res"><a href="/">My Place</a></li>
            <li role ="presentation" class="active" id="avail"><a href="/">My Availabilities</a></li>
            <li role ="presentation" id="info"><a href="/">User Info</a></li>
            <li role ="presentation" id="req"><a href="/">Requests</a></li>
          </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"> <!-- my child lives on line 288 -->

    <div id="user_requests" class="displays">
      <% if @requests.length == 0 %>
        <br>
        <h4>Sorry, doesn't look like you have any requests yet!</h4>
      <% end %>
      <ul>
      <% @requests.each do |request| %>
        <li>Request from: <%= User.find(request.sender_id).name %></li>
        <li>They want to stay in: <%= Residence.find(request.residence_id).city %></li>
        <li>On: <%= request.date %></li>
        <li>Message: <%= request.text %></li>
        <br>
        <%= form_for :pairing, :html => {:class => "accept_pair"}, url: pairings_path, method: :post do |f| %>
          <%= hidden_field_tag 'sender', "#{request.sender_id}" %>
          <%= hidden_field_tag 'date', "#{request.date}" %>
          <%= hidden_field_tag 'recipient', "#{@user.id}" %>
          <%= hidden_field_tag 'residence', "#{request.residence_id}" %>
          <%= hidden_field_tag 'request', "#{request.id}" %>
          <%= f.submit "Let's do it!" %>
        <% end %>
        <%= form_for :request, url: residence_request_path(Residence.find(request.residence_id), request.id), method: :delete  do |f| %>
          <%= hidden_field_tag 'date', "#{request.date}" %>
          <%= hidden_field_tag 'sender', "#{request.sender_id}" %>
          <%= f.submit "No thanks" %>
        <% end %>
      <% end %>
      </ul>
    </div>

    <div id="user_messages" class="displays">
      <% if @messages.length == 0 %>
        <br>
        <h4>Sorry, doesn't look like you have any messages yet!</h4>
      <% end %>
      <ul class="received_messages">
      <% @messages.each do |message| %>
        <li>From: <%= message.sender.name %><br>
        <%= message.text %>
        <br>
        <%=link_to "Send 'em a message", new_user_message_path(current_user) %>
          <div id = "<%= message.id%>" >
            <%= form_for :message, url: messages_reply_path do |f| %>
              <%= f.text_field :text, placeholder: "Hey bro!" %><br>
              <%= hidden_field_tag 'recipient', "#{message.sender.id}" %>
              <%= f.submit 'Send message' %>
            <% end %>
          </div>
        </li>
        <br><br>
      <% end %>
    </ul>
    </div>

    <div id="user_residences" class="displays">
      <% if @residences.length == 0%>
        <h4>Hey this page looks pretty empty to me... <%= link_to 'Add your place!' %></h4>
        <div id = "add_place" >
          <%= render partial: "shared/residence" %>
        </div>
      <% else %>
        <div class="col-md-4">
        <% @user_residence = @residences.first %>
        <% @user_residence.images.each do |image| %>
          <span class="residence-img"><img src=<%= image.url %>><span><br>
          <%= link_to 'remove this picture', residence_image_path(@user_residence, image), method: :delete %><br>
        <% end %>
      </div>

        <%= render partial: "shared/image" %>
        <%= @user_residence.city %>
        <%= @user_residence.state%>
        <%= @user_residence.zip_code %>
        <%= @user_residence.description %>
        <%= render partial: "shared/edit_residence" %>
      <% end %>
    </div>
  </div>


    <div id="user_information" class="displays">
      <div class="col-md-3">
        <img src=<%= @user.picture_url %>>
      </div>
      <div class="col-md-9">
        <strong>Name: </strong><%= @user.name %><br>
        <strong>Email: </strong><%= @user.email %><br>
        <strong>Bio: </strong><%= @user.bio %><br>
        <strong>Github username:</strong><%= @user.github_url %><br>
        <strong>Twitter handle:</strong> <%= @user.twitter_url %><br>
        <%= form_for @user, url: edit_user_path, method: :get do |f| %>
            <%= f.submit %>
        <% end %>
        <br><br><br>
      </div>
      <div class="row">
        <h1>Past Pairings</h1>
      </div>
        <ul>
          <% @user.visited_pairings.each do |pair| %>
          <li><%= link_to pair.host.name, new_pairing_shoutout_path(pair.host_id) %></li>
          <!-- this passes the host_id aka user_id as a pairing_id, please do not panic it's ok. -->
        <% end %>
      </ul>
    </div>

  <div id="user_availabilities" class="displays">

    <div id="available">
    <% @user.availabilities.each do |availability| %>
      <% if availability.booked == false %>
        <p id="<%= availability.date.last(2) %>" class="id_for_me"><%= availability.id %></p>
      <% end %>
    <% end %>
    </div>
    <div id="booked">
    <% @user.availabilities.each do |availability| %>
      <% if availability.booked == true %>
        <p id="<%= availability.date.last(2) %>" class="id_for_me"><%= availability.id %></p>
      <% end %>
    <% end %>
    </div>
    <div id="info_div" class="alert alert-success" role="alert">
      Welcome to PairBnB!  This calendar holds your availabilities.  Click a date to create a new availability, click again to remove it!  If you accept a request, the date that you accept will show red.       <a href="/" id="info_close">close</a>
    </div>

      <br>
      <div class="col-md-4"></div>
      <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

        <div id="leftcolumn" class="yui3-u">
           <div id="mycalendar"></div>
      </div>
      </div>
      <div id="helper_box">Welcome to PairBnB!</div>
    <div id="color_key">
      <h4><span class="white_text">Unavailable</span> - <span class="green_text">Available</span> - <span class="red_text">Booked</span></h4>
    </div>
    </div>
  </div>
</div>
</div>


