<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    add_place_link = $("a:contains('Add your place')");
    add_place_link.on('click', function(event){
      event.preventDefault();
      $('#add_place').css('display', 'block')
    });

    all_reply_form_links = $("a:contains('Send')");
    all_reply_form_links.on('click', function(event){
      event.preventDefault();
      var href = event.currentTarget;
      var reply_form = $(href).next();
      reply_form.toggle();
    });

    var available = "add";
    var residence = 0;

    $(".displays").hide();
    $("#user_availabilities").show();
    $("#req").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_requests").show()
    });
    $("#mess").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_messages").show()
    });
    $("#res").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_residences").show()
    });
    $("#avail").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_availabilities").show()
    });
    $("#info").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_information").show()
    });

    $("#add").click(function(event) {
      event.preventDefault();
      available = "add"
    });

    $("#remove").click(function(event) {
      event.preventDefault();
      available = "remove"
    });

    $(".residence").click(function(event) {
      event.preventDefault();
      residence = $(this).attr("id") - 1
    });

    $("#reject").click(function(event) {

    })

    YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

      // Create a new instance of calendar, placing it in
      // #mycalendar container, setting its width to 340px,
      // the flags for showing previous and next month's
      // dates in available empty cells to true, and setting
      // the date to today's date.
      var calendar = new Y.Calendar({
        contentBox: "#mycalendar",
        width:'340px',
        showPrevMonth: false,
        showNextMonth: false,
        date: new Date()}).render();

      // Get a reference to Y.DataType.Date
      var dtdate = Y.DataType.Date;

      // Listen to calendar's selectionChange event.
      calendar.on("selectionChange", function (ev) {
        ev.preventDefault();

        $(".yui3-calendarnav-nextmonth").click(function(event) {
          $("td").css("background-color", "white")
        });

        $(".yui3-calendarnav-prevmonth").click(function(event) {
          $("td").css("background-color", "white")
        });

        var newDate = ev.newSelection[0];
        var date = dtdate.format(newDate);
        var day = date.slice(8, 10);
        var day_id = "#" + day;
        if (day[0] === "0") {
          var day_selector = "_" + day[1];
        } else {
          var day_selector = "_" + day;
        };
        if ($("a:contains('Logout')").attr("href").length === 11) {
          var user_id = $("a:contains('Logout')").attr("href").slice(-1)
        } else {
          var user_id = $("a:contains('Logout')").attr("href").slice(-2)
        }
        if (available == "add") {
          $("td[id$='" + day_selector + "']:not(.yui3-calendar-column-hidden)").css("background-color", "#14A714");
          var request = $.ajax({
            url: "/users/" + user_id + "/availabilities",
            type: "POST",
            data: { date: date, residence: residence }
          });
          request.done(function(response) {
            if (response["id"]) {
              $("#available").append("<p id= " + response['day'] + " class='id_for_me'>" + response['id'] + "<p>");
            }
          })
        } else {
          $("td[id$='" + day_selector + "']:not(.yui3-calendar-column-hidden)").css("background-color", "white");
          var request = $.ajax({
            url: "/users/" + user_id + "/availabilities/" + $(day_id).text(),
            type: "DELETE"
          });
        }
        Y.one("#selecteddate").setHTML(dtdate.format(newDate));
      });
    });
  });
</script>

<nav>
  <a id="mess" href="/">Messages</a>
  <a id="res" href="/">Residences</a>
  <a id="avail" href="/">Availabilities</a>
  <a id="info" href="/">User Info</a>
  <a id="req" href="/">Requests</a>
</nav>

<%= form_tag residences_search_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "I'm going to..." %>
  <%= submit_tag "Search", :city => nil %>
<% end %>

<div id="user_requests" class="displays">
  <h1>Requests</h1>
  <ul>
  <% @requests.each do |request| %>
    <li>Request from: <%= User.find(request.sender_id).name %></li>
    <li>They want to stay in: <%= Residence.find(request.residence_id).city %></li>
    <li>On: <%= request.date %></li>
    <li>Message: <%= request.text %></li>
    <br>
    <%= form_for :pairing, url: pairings_path, method: :post do |f| %>
      <%= hidden_field_tag 'sender', "#{request.sender_id}" %>
      <%= hidden_field_tag 'date', "#{request.date}" %>
      <%= hidden_field_tag 'recipient', "#{@user.id}" %>
      <%= hidden_field_tag 'residence', "#{request.residence_id}" %>
      <%= f.submit "Let's do it!" %>
    <% end %>
    <%= form_for :request, url: user_request_path(User.find(request.sender_id), request.id), method: :delete  do |f| %>
      <%= hidden_field_tag 'date', "#{request.date}" %>
      <%= hidden_field_tag 'sender', "#{request.sender_id}" %>
      <%= f.submit "No thanks" %>
    <% end %>
  <% end %>
  </ul>
</div>

<div id="user_messages" class="displays">
  <h1>Messages</h1>
  <ul class="received_messages">
  <% @messages.each do |message| %>
    <li>From: <%= message.sender.name %><br>
    <%= message.text %>
    <br>
    <%=link_to "Send 'em a message", new_user_message_path(current_user) %>
      <div id = "<%= message.id%>" >
        <%= form_for :message, url: messages_reply_path do |f| %>
          <%= f.text_field :text, placeholder: "Hey bro!" %><br>
          <%= hidden_field_tag 'recipient', "#{message.sender.id}" %>
          <%= f.submit 'Send message' %>
        <% end %>
      </div>
    </li>
    <br><br>
  <% end %>
</ul>
</div>

<div id="user_residences" class="displays">
  <h1>Residences</h1>
      <%= link_to 'Add your place' %><br>
      <div id = "add_place" >
        <%= form_for @residence, url: residences_path, method: :post do |f| %>
        <% if @residence.errors %>
          <ul>
            <% @residence.errors.full_messages.each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
      <%= f.text_field :city, placeholder: "City" %><br>
      <%= f.text_field :state, placeholder: "State" %><br>
      <%= f.text_field :zip_code, placeholder: "Zipcode" %><br>
      <%= f.text_field :description, placeholder: "House Description & Rules" %><br>
      <%= f.submit 'List your place' %>
    <% end %>
  </div>


  <% @residences.each do |residence| %>
    <% residence.images.each do |image| %>
      <img src=<%= image.url %>><br>
      <%= link_to "remove this picture", residence_image_path(residence, image), method: :delete %><br>
      <br>
    <% end %>
      <%= form_for :image, url: residence_images_path(residence.id), method: :post do |f|%>
        <%=f.text_field :url, placeholder: "paste picture url here"%>
        <%=f.submit "Upload Picture"%>
      <%end%>
    <%= residence.city %><br>
    <%= residence.state %><br>
    <%= residence.zip_code %><br>
    <%= residence.description %><br>
    <%= form_for residence, url: edit_residence_path, method: :get do |f| %>
      <%=hidden_field_tag 'residence', "#{residence.id}" %>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>

<div id="user_information" class="displays">
  <h1>Profile</h1>
    <img src=<%= @user.picture_url %>>
    <%= @user.name %>
    <%= @user.email %>
    <%= @user.bio %>
    <%= @user.github_url %>
    <%= @user.twitter_url %>
    <%= form_for @user, url: edit_user_path, method: :get do |f| %>
        <%= f.submit %>
    <% end %>
  <h1>Past Pairings</h1>
    <ul>
      <% @user.visited_pairings.each do |pair| %>
      <li><%= link_to pair.host.name, new_pairing_shoutout_path(pair.host_id) %></li>
      <!-- this passes the host_id aka user_id as a pairing_id, please do not panic it's ok. -->
    <% end %>
  </ul>

</div>

<div id="user_availabilities" class="displays">
  <h1>Availabilities</h1>
  <div id="available">
  <% @user.availabilities.each do |availability| %>
    <p id="<%= availability.date.last(2) %>" class="id_for_me"><%= availability.id %><p>
  <% end %>
  </div>
  <br>
  <button id="add" type="button">Add Availabilities</button>
  <button id="remove" type="button">Remove Availabilities</button>
  <% i = 0 %>
  <% @residences.each do |residence| %>
    <% i += 1 %>
    <button class="residence" id="<%= i %>" type="button">Manage Residence <%= i %></button>
  <% end %>
  <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

    <div id="leftcolumn" class="yui3-u">
       <div id="mycalendar"></div>
    </div>
    <div id="rightcolumn" class="yui3-u">
     <div id="links" style="padding-left:20px;">
        Selected date: <span id="selecteddate"></span>
     </div>
    </div>
  </div>
</div>
