<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

<script type="text/javascript">
  var currentUserId = <%= @user.id %>;

  $(document).ready(function() {
    add_place_link = $("a:contains('Add your place')");
    add_place_link.on('click', function(event){
      event.preventDefault();
      $('#add_place').css('display', 'block')
    });

    all_reply_form_links = $("a:contains('Send')");
    all_reply_form_links.on('click', function(event){
      event.preventDefault();
      var href = event.currentTarget;
      var reply_form = $(href).next();
      reply_form.toggle();
    });

    var residence = 0;

    $(".displays").hide();
    $("#user_information").show();

    $("#req").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_requests").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#mess").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_messages").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#res").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_residences").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#avail").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_availabilities").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });
    $("#info").click(function(event) {
      event.preventDefault();
      $(".displays").hide();
      $("#user_information").show();
      $(".nav-pills li").removeClass("active");
      $(this).addClass("active")
    });

    $("#add").click(function(event) {
      event.preventDefault();
      available = "add"
    });

    $("#remove").click(function(event) {
      event.preventDefault();
      available = "remove"
    });

    $(".residence").click(function(event) {
      event.preventDefault();
      residence = $(this).attr("id") - 1;
      $("td").css("background-color", "white")
    });

    $(".accept_pair").submit(function() {
      $(this).parent().hide();
    });

    $("#info_close").click(function(event) {
      event.preventDefault();
      $("#info_div").hide()
    });

    $($("#edit_residence").find("form")[0]).submit(function(event) {
      event.preventDefault();
      $("#residence_edit_form").show();
    });

    $("#new_shoutout").click(function(event) {
      event.preventDefault();
      $(this).parent().parent().find("#shoutout_form").show();
    })

    $("#shoutout_form").submit(function(event) {
      $("#shoutout_div").show();
    })

    $("#shoutout_close").click(function(event) {
      event.preventDefault();
      $("#shoutout_div").hide();
    })

    YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

      // Create a new instance of calendar, placing it in
      // #mycalendar container, setting its width to 340px,
      // the flags for showing previous and next month's
      // dates in available empty cells to true, and setting
      // the date to today's date.
      var calendar = new Y.Calendar({
        contentBox: "#mycalendar",
        width:'340px',
        showPrevMonth: true,
        showNextMonth: true,
        date: new Date()}).render();

      // Get a reference to Y.DataType.Date
      var dtdate = Y.DataType.Date;
      var current_date = new Date();
      var current_month = current_date.getMonth() + 1;
      var current_year = current_date.getFullYear();

      function loadMonth(month, year) {
        var request = $.ajax({url: "/month_schedules/" + currentUserId + "/" + month + "/" + year,
                              dataType: "json"});

        request.done(function(monthData) {
          $.each(monthData, function(index, day) {
            var dayElement = $("td[id$='_" + day.day + "']:not(.yui3-calendar-column-hidden)");
            if(day.pairing_id) {
              dayElement.addClass("booked").css("background-color", "#C9302C");
              dayElement.data('pairing-id', day.pairing_id);

            } else if(day.availability_id) {
              dayElement.addClass("available").css("background-color", "#14A714");
              dayElement.data('availability-id', day.availability_id);
            };
          });
        });
      }

      loadMonth(current_month, current_year);

      function next_month() {
        if (current_month === 12) {
          current_month = 1;
          current_year++;
        } else {
          current_month ++;
        }
      };

      function prev_month() {
        if (current_month === 1) {
          current_month = 12;
          current_year--;
        } else {
          current_month --;
        }
      };

      function clear_tds() {
        $("td").css("background-color", "white");
        $("td").removeClass("available booked");
        $("td").removeData("availability-id pairing-id");
      };

      $(".yui3-calendarnav-nextmonth").click(function(event) {
        clear_tds();
        next_month();
        loadMonth(current_month, current_year);
      });

      $(".yui3-calendarnav-prevmonth").click(function(event) {
        clear_tds();
        prev_month();
        loadMonth(current_month, current_year);
      });

      calendar.on("dateClick", function (ev) {
        var dayElement = $(ev.cell._node);

        var newDate = ev.date;
        var date = dtdate.format(newDate);
        var node = $(dayElement[0]);

        if (node.hasClass("available")) {
          node.removeClass("available").css("background-color", "white");
          var request = $.ajax({
            url: "/users/" + currentUserId + "/availabilities/" + node.data('availability-id'),
            type: "DELETE"
          });
          request.done(function(response) {
            node.removeData('availability-id');
          });
        } else if (node.hasClass("booked")) {

        } else {
          node.addClass("available").css("background-color", "#14A714");
          var request = $.ajax({
            url: "/users/" + currentUserId + "/availabilities",
            type: "POST",
            data: { date: date}
          });
          request.done(function(response) {
            node.data('availability-id', response["id"]);
          })
        };
      });
    });
  });
</script>
<div class="col-md-2"></div>
<div class="col-md-8" class='dash-container'>
<div class='dashboard'>
  <div class="row">
    <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3" id="nav-space">
          <ul class="nav nav-pills">
            <li role ="presentation" id="mess"><a href="/">Messages</a></li>
            <li role ="presentation" id="res"><a href="/">My Place</a></li>
            <li role ="presentation" id="avail"><a href="/">My Availabilities</a></li>
            <li role ="presentation" class="active" id="info"><a href="/">My Info</a></li>
            <li role ="presentation" id="req"><a href="/">Requests</a></li>
          </ul>
    </div>
    <div class="col-md-4"></div> <!-- closes the nav colum -->
  </div> <!-- closes the nav row -->


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"> <!-- my child lives on line 288 -->

    <div class = "col-md-2"></div>
    <div class = "col-md-4">
    <div id="user_requests" class="displays">
      <% if @requests.length == 0 %>
        <br>
        <h4>Sorry, doesn't look like you have any requests!</h4>
      <% end %>
      <ul>
      <% @requests.each do |request| %>
        <div class= "message_sender_wrapper">
          <li>Request from: <%= User.find(request.sender_id).name %></li>
        </div>
        <li>They want to stay in: <%= Residence.find(request.residence_id).city %></li>
        <li>On: <%= request.date %></li>
        <li>Message: <%= request.text %></li>
        <%= form_for :pairing, :html => {:class => "accept_pair"}, url: pairings_path, method: :post do |f| %>
          <%= hidden_field_tag 'sender', "#{request.sender_id}" %>
          <%= hidden_field_tag 'date', "#{request.date}" %>
          <%= hidden_field_tag 'recipient', "#{@user.id}" %>
          <%= hidden_field_tag 'residence', "#{request.residence_id}" %>
          <%= hidden_field_tag 'request', "#{request.id}" %>
          <%= f.submit "Let's do it!", class: "btn btn-danger" %>
        <% end %>
        <%= form_for :request, url: residence_request_path(Residence.find(request.residence_id), request.id), method: :delete  do |f| %>
          <%= hidden_field_tag 'date', "#{request.date}" %>
          <%= hidden_field_tag 'sender', "#{request.sender_id}" %>
          <%= f.submit "No, thanks", class: "btn btn-danger" %>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>

    <div id="user_messages" class="displays">
      <h4> Received Messages</h4>
      <% if @received_messages.length == 0 %>
        <br>
        <h4>Sorry, doesn't look like you've gotten any messages yet!</h4>
      <% end %>
    <div class= "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-4">
      <ul class="received_messages">
      <% @received_messages.each do |message| %>
        <div class = "message_sender_wrapper">
          <li>From: <%= message.sender.name %><br>
        </div>
        <em><%= message.text %></em>
        <br>
        <%=link_to "Send 'em a message", new_user_message_path(current_user) %>
          <span id = "<%= message.id%>" >
            <%= form_for :message, url: messages_reply_path do |f| %>
              <%= f.text_field :text, placeholder: "Hey bro!" %><br>
              <%= hidden_field_tag 'recipient', "#{message.sender.id}" %>
              <%= f.submit 'Send message', class: "btn btn-danger" %>
            <% end %>
          </span>
        </li>
        <br><br>
      <% end %>
    </ul>
    </div>
  </div>
      <h4> Sent Messages</h4>
    <div class= "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-4">
    <ul>
      <%@sent_messages.each do |sent_mess|%>
      <div class = "message_sender_wrapper">
        <li> Sent to: <%=sent_mess.recipient.name%><br>
      </div>
        <em><%=sent_mess.text%></em></li><br>
      <%end%>
    </ul>
  </div>
    </div>
  </div>

    <div id="user_residences" class="displays">
      <% if @residences.length == 0%>
        <h4>Hey this page looks pretty empty to me... <%= link_to 'Add your place!' %></h4>
        <div id = "add_place" >
          <%= render partial: "shared/create_residence" %>
        </div>
      <% else %>

        <div class="col-md-6">
        <% @user_residence = @residences.last %>
        <% @user_residence.images.each do |image| %>
          <span class="residence-img"><img src=<%= image.url %>><span><br>
          <%= link_to 'remove this picture', residence_image_path(@user_residence, image), method: :delete %><br>
        <% end %>
      </div> <!-- closes residence image colum -->
      <div class="col-md-6">
        <strong>City: </strong><%= @user_residence.city %><br>
        <strong>State:</strong> <%= @user_residence.state%><br>
        <strong>Zipcode:</strong> <%= @user_residence.zip_code %><br>
        <strong>House Rules/Description:</strong> <%= @user_residence.description %><br>
        <%= render partial: "shared/edit_residence" %><br>
        <%= render partial: "shared/image" %>
        <br><br>
        <%= render partial: "shared/residence" %>
      <% end %>
    </div> <!-- ends the info colum -->
  </div>



    <div id="user_information" class="displays">
      <div class="col-md-1"></div>
      <div class="col-md-4">
      <% if flash[:notice] %>
      <div id="shoutout_div" class="alert alert-success" role="alert"><%= flash.now[:notice] %>
      </div>
      <% end %>
      <div class="col-md-3">
        <img src=<%= @user.picture_url %>>
      </div>
      <div class="col-md-7">
        <strong>Name: </strong><%= @user.name %><br>
        <strong>Email: </strong><%= @user.email %><br>
        <strong>Bio: </strong><%= @user.bio %><br>
        <strong>Github username:</strong><%= @user.github_url %><br>
        <strong>Twitter handle:</strong> <%= @user.twitter_url %><br>
        <%= form_for @user, url: edit_user_path, method: :get do |f| %>
            <%= f.submit 'Edit your info', class: "btn btn-default" %>
        <% end %>
        <br><br><br>
      </div>
      <div class="row">
        <h1>Past Pairings</h1>
      </div>
        <ul>
        <% @user.visited_pairings.each do |pair| %>
          <li><a href="/" id="new_shoutout"><%= pair.host.name %></a></li>
          <!-- this passes the host_id aka user_id as a pairing_id, please do not panic it's ok. -->
          <div id="shoutout_form">
              <%= form_for :shoutout, url: pairing_shoutouts_path(pair), method: :post do |f| %>
                <%= f.text_field :text, placeholder: "Leave a shoutout" %><br>
                <%= f.submit "Send 'em a shoutout" %>
              <% end %>
          </div>
        <% end %>
      </ul>

    </div>

  <div id="user_availabilities" class="displays">
    <%if flash[:welcome] %>
      <div id="info_div" class="alert alert-success" role="alert">
          <%= flash.now[:welcome] %>
      </div>
    <%end%>
    <div id="info_div" class="alert alert-success" role="alert">
      Welcome to PairBnB!  This calendar holds your availabilities.  Click a date to create a new availability, click again to remove it!  If you accept a request, the date that you accept will show red.       <a href="/" id="info_close">close</a>
    </div>
      <br>
      <div class="col-md-3"></div>
      <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

        <div id="leftcolumn" class="yui3-u">
           <div id="mycalendar"></div>
      </div>
      </div>
    <div id="color_key">
      <h4><span class="white_text">Unavailable</span> - <span class="green_text">Available</span> - <span class="red_text">Booked</span></h4>

    </div>
    </div>
  </div>
</div>
</div>
</div>

