<%= form_for :residence do |f| %>
  <% if @residence.errors %>
    <ul>
      <% @residence.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_field :city, placeholder: "City" %><br>
  <%= f.text_field :state, placeholder: "State" %><br>
  <%= f.text_field :zip_code, placeholder: "Zipcode" %><br>
  <%= f.text_field :description, placeholder: "Description" %><br>
  <%= f.submit 'List your place' %>
<% end %>
