<h2>Results for <%= params[:search] %></h2>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_tag residences_search_path, :method => 'get' do %>

    <%= text_field_tag :search, params[:search], value: nil, placeholder: "I'm going to..." %>
    <%= submit_tag "Search", :city => nil %>

  <% end %>

<ul>
<% @residences.each do |residence| %>
  <li><img src=<%= residence.user.picture_url %>>
    <%=link_to residence.user.name, residence_path(residence) %>
    <%= residence.neighborhood%> - <%= residence.user.specialties %><br>
    <%= residence.user.bio[0,40] + "..." %>
    </li>
<% end %>
</ul>
