<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>


<script type="text/javascript">
  var currentUserId = <%= @user.id %>;
  var sessionUserId = <%= @session_user_id %>;
  console.log(sessionUserId);

  $(document).ready(function() {
    YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

      var calendar = new Y.Calendar({
        contentBox: "#mycalendar",
        width:'340px',
        showPrevMonth: true,
        showNextMonth: true,
        date: new Date()}).render();

      var dtdate = Y.DataType.Date;
      var current_date = new Date();
      var current_month = current_date.getMonth() + 1;
      var current_year = current_date.getFullYear();

      function loadMonth(month, year) {
        var request = $.ajax({url: "/month_schedules/" + currentUserId + "/" + month + "/" + year,
                              dataType: "json"});

        request.done(function(monthData) {
          $.each(monthData, function(index, day) {
            var dayElement = $("td[id$='_" + day.day + "']:not(.yui3-calendar-column-hidden)");
            if(day.pairing_id) {
              dayElement.addClass("booked").css("background-color", "#C9302C");
              dayElement.data('pairing-id', day.pairing_id);

            } else if(day.availability_id) {
              dayElement.addClass("available").css("background-color", "#14A714");
              dayElement.data('availability-id', day.availability_id);
            };
          });
        });
      }

      loadMonth(current_month, current_year);

      function next_month() {
        if (current_month === 12) {
          current_month = 1;
          current_year++;
        } else {
          current_month ++;
        }
      };

      function prev_month() {
        if (current_month === 1) {
          current_month = 12;
          current_year--;
        } else {
          current_month --;
        }
      };

      function clear_tds() {
        $("td").css("background-color", "white");
        $("td").removeClass("available booked");
        $("td").removeData("availability-id pairing-id");
      };

      $(".yui3-calendarnav-nextmonth").click(function(event) {
        clear_tds();
        next_month();
        loadMonth(current_month, current_year);
      });

      $(".yui3-calendarnav-prevmonth").click(function(event) {
        clear_tds();
        prev_month();
        loadMonth(current_month, current_year);
      });

      calendar.on("dateClick", function (ev) {
        var dayElement = $(ev.cell._node);

        var newDate = ev.date;
        var date = dtdate.format(newDate);
        var node = $(dayElement[0]);

        if (sessionUserId > 0) {
          if (node.hasClass("available")) {
            var input = $("<input>", { type: "hidden", name: "date", value: date });
            $("#reply_form").find("#request_text").append($(input));
            $("#reply_form").show();
            $("#valid_date_alert").hide();
            $("#login_alert").hide();
          } else {
            $("#reply_form").hide();
            $("#valid_date_alert").show();
          }
        } else {
          $("#login_alert").show();
        };
      });
    });
  });
</script>

<div class="row">
    <% if flash[:sent_request_confirmation]%>
    <div id="info_div" class="alert alert-success" role="alert">
      <%= flash.now[:sent_request_confirmation]%>
    </div>
    <%end%>
  <div class="col-md-2"></div>

  <div class="col-md-3">
    <h2><%= @user.name %></h2>
  </div>
  <div class="col-md-7"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <div id="residence_user">
      <img src=<%= @user.picture_url %>><br>

    </div>
  </div>
  <div class="col-md-5">
    <h4>Specialties</h4>
      <p><%= @user.specialties %></p>
    <h4>Bio</h4>
      <p><%= @user.bio %></p>
        <%= link_to 'Github', "https://github.com/#{@user.github_url}"%>
        <%= link_to 'Twitter', "https://twitter.com/#{@user.twitter_url}"%><br>
      <% if session[:user_id] != nil && session[:user_id] != @user.id %>
        <%= form_for @message, url: new_user_message_path(@user), method: :get do |f| %>
        <%= f.submit 'Send them a message', class: 'btn btn-danger' %>
        <%= hidden_field_tag 'residence', "#{params[:id]}" %>
        <% end %>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-9">
    <h4>House Description & Rules</h4>
      <p><%= @residence.description %></p>
    <div id="residence_pics">
     <% @residence.images.each do |image| %>
         <span class="residence-img"><img src=<%= image.url %>></span>
      <% end %>
    </div>
    <br><br>
    <div id="valid_date_alert" class="alert alert-info" role="alert">Click on a green date to make a request!</div>
    <div id="login_alert" class="alert alert-info" role="alert">You have to be logged in to make a request!</div>
    <h4>Upcoming Availability</h4>
    <div class="row">
      <div class="col-md-3">
        <div id="available">
          <% @residence.availabilities.each do |availability| %>
            <% if availability.booked == false %>
              <p id="<%= availability.date[-2..-1] %>"><%= availability.id %></p>
            <% end %>
          <% end %>
        </div>
        <div id="booked">
          <% @residence.availabilities.each do |availability| %>
            <% if availability.booked %>
              <p id="<%= availability.date[-2..-1] %>"><%= availability.id %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

          <div id="leftcolumn" class="yui3-u">
             <div id="mycalendar"></div>
          </div>
          <div id="rightcolumn" class="yui3-u">
          </div>
        </div>
      </div>
    <div class="col-md-4"></div>
  </div>
  <% if session[:user_id] != nil && session[:user_id] != @user.id %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
    <div id = "reply_form" >
      <div class="form-group">
        <p><strong>Tell them why you want to stay with them! Don't be a stranger!</strong></p>
        <%= form_for :request, url: residence_requests_path(@residence) do |f| %>
          <%= f.text_area :text, placeholder: "Hey bro!", class: "form-control" %><br>
          <%= f.submit 'Request to pair!', class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <div id="shoutouts">
    <h4>Shoutouts</h4>
    <% @user.received_shoutouts.each do |shoutout| %>
      <p><%=shoutout.sender.name%> says... "<em><%= shoutout.text %></em>"</p>
    <% end %>
    </div>
  </div>

</div>

<p id="user_id"><%= session[:user_id] %></p>

