<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
    YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

      var calendar = new Y.Calendar({
        contentBox: "#mycalendar",
        width:'340px',
        showPrevMonth: false,
        showNextMonth: false,
        date: new Date()}).render();

      var dtdate = Y.DataType.Date;

      calendar.on("selectionChange", function (ev) {
        var newDate = ev.newSelection[0];
        Y.one("#selecteddate").setHTML(dtdate.format(newDate));

        var newDate = ev.newSelection[0];
        var date = dtdate.format(newDate);
        var input = $("<input>", { type: "hidden", name: "date", value: date });
        $("#reply_form").find("#residence").append($(input));
        $("#reply_form").toggle()
      });
    });
  });
</script>
<%= link_to 'Back', residences_path %>
<h1><%= @user.name %></h1>
  <img src=<%= @user.picture_url %>>
  <h3>Specialties</h3>
    <p><%= @user.specialties %></p><br>
      <% if session[:user_id] != nil && session[:user_id] != @user.id %>
        <%= form_for @message, url: new_user_message_path(@user), method: :get do |f| %>
        <%= f.submit 'Send them a message' %>
        <%= hidden_field_tag 'residence', "#{params[:id]}" %>
        <% end %>
      <% end %>
  <h3>Shoutouts</h3>
    <% @user.received_shoutouts.each do |shoutout| %>
      <p><%=shoutout.sender.name%> says... <%= shoutout.text %></p>
    <% end %>
  <h3>Bio</h3>
    <p><%= @user.bio %></p>
  <h3>House Description & Rules</h3>
    <p><%= @residence.description %></p>
    <% @residence.images.each do |image| %>
    <img src=<%= image.url %>>
  <% end %>
  <h3>Upcoming Availability</h3>
    <% @residence.availabilities.each do |availability| %>
      <p><%= availability.date %></p>
    <% end %>

<div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

  <div id="leftcolumn" class="yui3-u">
     <div id="mycalendar"></div>
  </div>
  <div id="rightcolumn" class="yui3-u">
    <div id="links" style="padding-left:20px;">
      Selected date: <span id="selecteddate"></span>
    </div>
  </div>
</div>
<div id = "reply_form" >
  <%= form_for :message, url: messages_reply_path do |f| %>
    <%= f.text_field :text, placeholder: "Hey bro!" %><br>
    <%= hidden_field_tag 'residence', "#{@residence.id}" %>
    <%= f.submit 'Send message' %>
  <% end %>
</div>
