<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
    YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

      var calendar = new Y.Calendar({
        contentBox: "#mycalendar",
        width:'340px',
        showPrevMonth: false,
        showNextMonth: false,
        date: new Date()}).render();

      var dtdate = Y.DataType.Date;

      $.each($("#available p"), function(index, element) {
        availableDay = $(element).attr("id")
        availableDay = "_" + +availableDay;
        $("td[id$='" + availableDay + "']:not(.yui3-calendar-column-hidden)").addClass("available").css("background-color", "#14A714")
      });

      $.each($("#booked p"), function(index, element) {
        bookedDay = $(element).attr("id")
        bookedDay = "_" + +bookedDay;
        $("td[id$='" + bookedDay + "']:not(.yui3-calendar-column-hidden)").addClass("booked").css("background-color", "#C9302C")
      })

      calendar.on("selectionChange", function (ev) {
        var newDate = ev.newSelection[0];
        var date = dtdate.format(newDate);
        var day = date.slice(-2);
        var day_selector = +day;
        if ($("#user_id").text().length > 0) {
          if ($("td[id$='_" + day_selector + "']:not(.yui3-calendar-column-hidden)").hasClass("available")) {
            var input = $("<input>", { type: "hidden", name: "date", value: date });
            $("#reply_form").find("#request_text").append($(input));
            $("#reply_form").show()
            $("#valid_date_alert").hide()
            $("#login_alert").hide()
          } else {
            $("#reply_form").hide()
            $("#valid_date_alert").show()
          };
        } else {
          $("#login_alert").show()
        }
      });
    });
  });
</script>

<div class="row">
    <% if flash[:sent_request_confirmation]%>
    <div id="info_div" class="alert alert-success" role="alert">
      <%= flash.now[:sent_request_confirmation]%>
    </div>
    <%end%>
  <div class="col-md-2">
    <%= link_to 'Back to Search Results', :back%>
  </div>

  <div class="col-md-3">
    <h3><%= @user.name %></h3>
  </div>
  <div class="col-md-7"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div id="residence_user">
      <img src=<%= @user.picture_url %>><br>

    </div>
  </div>
  <div class="col-md-5">
    <h4>Specialties</h4>
      <p><%= @user.specialties %></p>
    <h3>Bio</h3>
      <p><%= @user.bio %></p>
        <%= link_to 'Github', "https://github.com/#{@user.github_url}"%>
        <%= link_to 'Twitter', "https://twitter.com/#{@user.twitter_url}"%><br>
      <% if session[:user_id] != nil && session[:user_id] != @user.id %>
        <%= form_for @message, url: new_user_message_path(@user), method: :get do |f| %>
        <%= f.submit 'Send them a message', class: 'btn btn-danger' %>
        <%= hidden_field_tag 'residence', "#{params[:id]}" %>
        <% end %>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-9">
    <h3>House Description & Rules</h3>
      <p><%= @residence.description %></p>
    <div id="residence_pics">
      <% @residence.images.each do |image| %>
        <img src=<%= image.url %>>
      <% end %>
    </div>
    <br><br>
    <div id="valid_date_alert" class="alert alert-info" role="alert">Click on a green date to make a request!</div>
    <div id="login_alert" class="alert alert-info" role="alert">You have to be logged in to make a request!</div>
    <h3>Upcoming Availability</h3>
    <div class="row">
      <div class="col-md-3">
        <div id="available">
          <% @residence.availabilities.each do |availability| %>
            <% if availability.booked == false %>
              <p id="<%= availability.date[-2..-1] %>"><%= availability.id %></p>
            <% end %>
          <% end %>
        </div>
        <div id="booked">
          <% @residence.availabilities.each do |availability| %>
            <% if availability.booked %>
              <p id="<%= availability.date[-2..-1] %>"><%= availability.id %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

          <div id="leftcolumn" class="yui3-u">
             <div id="mycalendar"></div>
          </div>
          <div id="rightcolumn" class="yui3-u">
          </div>
        </div>
      </div>
    <div class="col-md-4"></div>
  </div>
  <% if session[:user_id] != nil && session[:user_id] != @user.id %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
    <div id = "reply_form" >
      <div class="form-group">
        <p><strong>Tell them why you want to stay with them! Don't be a stranger!</strong></p>
        <%= form_for :request, url: residence_requests_path(@residence) do |f| %>
          <%= f.text_area :text, placeholder: "Hey bro!", class: "form-control" %><br>
          <%= f.submit 'Request to pair!', class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <h3>Shoutouts</h3>
  <% @user.received_shoutouts.each do |shoutout| %>
    <p><%=shoutout.sender.name%> says... "<em><%= shoutout.text %></em>"</p>
  <% end %>
  </div>

</div>

<p id="user_id"><%= session[:user_id] %></p>

