<!DOCTYPE html>
<html>
<head>
  <title>PairBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/navigation' %>
  <% if session[:user_id] %>
    <%= link_to 'Logout', session_path(current_user), method: :delete %>
  <% end %>
  <br>

<%= yield %>

</body>
</html>
